/* styles-pacientes.css */
.buttons-container {
    display: flex;
    margin: 10px 30px;
    gap: 20px;
}

/* cuadro-búsqueda */
.sub-button-container {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    width: 500px;
    margin-left: 2px;
    border-radius: 10px;
    font-size: 16px;
}

.search-container input {
    outline: none;
    flex: 1;
    background-color: #f5f5f5;
    padding: 13px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #f5f5f5;
}

.search-container input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C2C2C2;
    border: 0;
}

.button-search {
    padding: 14px;
    background-color: var(--color-default);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.button-search:hover {
    background-color: #4A5568;
}

/* boton-añadir-nuevo */
.button-add {
    padding: 21px;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-default);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-size: 17px;
}

.button-add:hover {
    background-color: #4A5568;
}

/* TABLA PACIENTES GENERAL */
.header-table {
    padding: 26px;
    margin-top: 20px;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: separate;
}

/* celdas-thead-tabla */
thead {
    color: #a19898;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 13px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

thead th {
    border: 1px solid #efefef;
    background-color: #f3f3f3;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* celdas-tbody-tabla */
tbody {
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

tbody td {
    padding: 15px 10px;
    color: #4A5568;
}

tbody tr:hover {
    background-color: #F7FAFC;
}

td {
    text-align: left;
    border: 1px solid #efefef;
}

.min-tb {
    width: 20px;
}

.mid-tb {
    width: 80px;
}

.max-tb {
    width: 140px;
}

/* js */
.icons {
    font-size: 20px;
    cursor: pointer;
}

.sx {
    text-align: center;
}

/* resultados-totales-js */
.tr-resoults td {
    border: 1px solid #efefef;
    background-color: #f3f3f3;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}