/*  */
.container_new {
    margin: 5px 40px;
    display: flex;
}

.left-panel {
    width: 400px;
    margin-right: 25px;
}

.right-panel {
    flex-grow: 1;
}

.left-panel,
.right-panel {
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    height: 95vh;
}

/* Header-containers */
header {
    text-align: center;
    margin-bottom: 10px;
    background-color: #2e3b4e;
    padding: 12px;
    border-radius: 10px 10px 0 0;
    color: white;
}

header p {
    font-size: 14px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Imagen-genero */
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: auto;
    background-color: #e6f6f0;
    border-radius: 100%;
    width: 100px;
    margin-top: 5px;
}

/* Formulario-panel-izq. */
.form-group-container {
    display: flex;
    margin: 11px 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.input-container,
.right-panel-container,
.form-group label {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #374151;
    margin-left: 2px;
    margin-bottom: 3px;
}

.gender,
.left-panel input {
    width: 100%;
    padding: 7px;
    border: 0;
    border-radius: 4px;
    background-color: #F8F8F8;
    padding-left: 7px;
    font-size: 14px;
    outline: none;
    font-family: "Inter", sans-serif;
}

.contact-form-container {
    display: flex;
    text-align: center;
    margin: 10px 20px;
    gap: 10px;
}

.contact-form-container input {
    text-align: center;
}

/* Formulario-panel-derch. */
.right-panel-container {
    margin: 20px 30px;
}

.dates-privates {
    width: 100%;
    height: 240px;
    display: flex;
    border-radius: 2px;
}

.dates-privates-container {
    margin: 10px;
    width: 40%;
}

input[type="file"] {
    display: none;
}

.file-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: sans-serif;
    padding: 10px;
    border: 1px solid #eeeeee;
    margin-top: 10px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: border-color 0.3s;
}

.icon-wrapper.green {
    border-color: green;
}

.icon-wrapper i {
    font-size: 18px;
    color: #333;
}

.sub-dates-privates {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    color: #374151;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 200;
}

/* Sub-formulario-derecha */
.line-input {
    margin: 30px 0;
}

.input-container {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.input-container textarea {
    width: 100%;
    height: 70px;
    padding: 7px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    outline: none;
    resize: none;
    overflow: hidden;
    border-radius: 4px;
    background-color: #F8F8F8;
    border: 0;
    padding-left: 5px;
}

#observaciones {
    height: 140px;
}

/* Botones */
.button-container-check {
    display: flex;
    justify-content: center;
    height: 50px;
}

.action-button button {
    padding: 3px;
    border: 0;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.action-button button:hover {
    background-color: #eff7ff;
}

.fa-check, .fa-x {
    margin-right: 2px;
}

button[type="submit"] {
    background-color: #f8fff8;
    height: 100%;
    border-radius: 0 0 0 10px;
    color: green;
}

button[type="reset"] {
    background-color: #ffeeee;
    height: 100%;
    border-radius: 0 0 10px 0;
    color: red;
}

.check-button {
    border-radius: 0 0 10px 10px !important;
    width: 400px !important;
}

.right-actions-buttons {
    display: flex;
    justify-content: center;
    border: 1px solid #F8F8F8;
    gap: 1px;
}

.right-button button {
    width: 350px;
    background-color: #2e3b4e;
    color: white;
}

.right-button button i {
    font-size: 20px;
    margin-right: 5px;
}

.right-button button:hover {
    background-color: #4A5568;
}